[Unit]
Description=BoxProxy MACVLAN %i
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/boxproxy/macvlan-up %i
ExecStop=/usr/local/lib/boxproxy/macvlan-down %i
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
