[Unit]
Description=BoxProxy Squid HTTP %i
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/lib/boxproxy/squid-run %i
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
