[Unit]
Description=BoxProxy DDNS Sync Timer

[Timer]
OnBootSec=15s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
